@use '../../theme/index.scss' as *;

.#{$prefix} {
  &-button {
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s;
    box-shadow: $border-shadow;
    border-radius: $box-border-raduis;
    background-color: $normalBg;
    box-sizing: border-box;
    &:active {
      color: $box-active-color;
    }
    &:focus {
      box-shadow: $box-focus-border;
    }
    &--primary {
      background-color: $primary;
      color: #fff;
    }
    &--dashed {
      border: 1px dashed #333;
      box-shadow: none;
    }
    &--stretch {
      width: 100%;
      height: $height-stretch;
    }
    &--large {
      height: $height-large;
      padding: 0 1em;
    }
    &--middle {
      height: $height-middle;
      padding: 0 0.5em;
    }
    &--small {
      height: $height-small;
    }
  }
}
