$prefix: "mizone";

$primary: rgb(0, 122, 255);
$normalBg: #fff;
$lightGray: rgb(222, 222, 222);
$nouse-bg: #f5f5f5;
$process-bar-stretch: 12px;
$process-bar-middle: 8px;
$process-bar-small: 6px;

$height-stretch: 32px;
$height-large: 40px;
$height-middle: 32px;
$height-small: 24px;
$border-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.07);
$box-border-raduis: 5px;
$box-padding: 5px;
$box-padding-middle: 10px;
$box-active-color: #33333380;
$box-focus-border: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 0 2px $primary;
$box-overlay-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.2),
  0 4px 8px rgba(0, 0, 0, 0.2);
$table-cell-padding-stretch: 8px 16px;
$table-cell-padding-middle: 6px 14px;
$table-cell-padding-small: 4px 12px;

:root {
  --prefix: $prefix;
  --primary: $primary;
  --height-stretch: $height-stretch;
  --height-large: $height-large;
  --height-small: $height-small;
  --border-shadow: $border-shadow;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes T200 {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes T-200 {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-200px);
  }
}
