@use '../../theme/index.scss' as *;

.#{$prefix} {
  &-fs-table {
    &__element {
      position: relative;
      overflow: scroll;
      padding: 30px 0px 0px 30px;
    }

    &__wrapper {
      position: relative;
      padding-bottom: 10px;
    }

    &__header-operation {
      height: 100%;
      background: rgb(239, 240, 241);
      cursor: pointer;
    }

    &__circle {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #bbbfc4;
    }

    &__add {
      display: none;
      position: absolute;
    }

    &__docx-col-item {
      display: flex;
      width: 15px;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 3px;
      border: 1px solid transparent;
      cursor: pointer;
      position: relative;

      &:hover {
        .#{$prefix}-fs-table__add {
          display: block;
        }
      }
    }

    &__operation-bar {
      position: absolute;
      height: 100%;
      top: 0px;
      &-col {
        position: absolute;
        height: 10px;
        width: 100%;
        top: 20px;
        &-inner {
          height: 100%;
          display: flex;
        }
      }

      &-row {
        position: absolute;
        left: -10px;
        height: 100%;
        width: 10px;
        top: 30px;
        &-item {
          background: rgb(239, 240, 241);
        }
      }

      &-docx-col {
        position: absolute;
        top: 0px;
        height: 16px;
        width: auto;
        display: flex;
        left: -7.5px;
      }
    }

    position: relative;
    width: max-content;
    &__container {
      position: relative;
    }

    &__resize-wrapper {
      position: absolute;
      top: 0;
    }

    &__self {
      border-spacing: 0;
      border: none;
    }
    &__tr:nth-child(1) {
      .#{$prefix} {
        &-fs-table__td {
          border-top: 1px solid $table-cell-border-color;
        }
      }
    }

    &__td:nth-child(1) {
      border-left: 1px solid $table-cell-border-color;
    }

    &__td {
      min-height: 39px;
      min-width: 50px;
      padding: 8px;
      border-bottom: 1px solid $table-cell-border-color;
      border-right: 1px solid $table-cell-border-color;
      &-container {
        min-height: 23px;
        min-width: 32px;
        word-break: break-all;
        outline: none;
      }
    }

    &__resize {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      &-item {
        position: relative;
      }
      &-btn {
        position: absolute;
        right: -3px;
        width: 10px;
        cursor: col-resize;
        &--active,
        &:hover {
          .#{$prefix}-fs-table__resize-line {
            background-color: rgb(20, 86, 240);
          }
        }
      }

      &-btn-first {
        position: absolute;
        right: -3px;
        width: 10px;
        &--active {
          .#{$prefix}-fs-table__resize-line {
            background-color: rgb(20, 86, 240);
          }
        }
      }

      &-line {
        width: 2px;
        height: 100px;
        margin-left: 5px;
      }
    }
  }
}
