@use '../../theme/index.scss' as *;

.#{$prefix} {
  &-mask {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    &--show {
      animation: fadeIn 0.3s;
    }
    &--close {
      animation: fadeOut 0.3s;
    }
    &__wrapper {
      width: max-content;
      height: max-content;
      background: white;
      padding: $box-padding-middle;
      border-radius: $box-border-raduis;
      &--show {
        animation: fadeTop 0.3s forwards;
      }
      &--close {
        animation: hideBot 0.3s forwards;
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      &--close {
        cursor: pointer;
      }
    }
    &__body {
      display: flex;
      justify-content: center;
      justify-items: center;
      margin: $box-padding-middle 0;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      justify-items: center;
      & > .#{$prefix}-button:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes In {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes Out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideBot {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-200px);
  }
}
